{% load i18n %}
{% load news_tags %}
{% load static %}
{% get_current_language as CURRENT_LANGUAGE_CODE %}
{% if CURRENT_LANGUAGE_CODE == 'en' %}{% set_international_english %}{% endif %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% get_base_url request.get_full_path as base_url %}
<!doctype html>
<html lang="{{CURRENT_LANGUAGE_CODE}}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/slate/bootstrap.min.css">
    </head>

    <body>
 
    <link rel="alternate" hreflang="x-default" href="{% translate_url LANGUAGE_CODE %}" />

    <header class="sticky-top">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'home' %}">
                Multi Language Demo
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse flex-grow-0  float-right" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="{% static CURRENT_LANGUAGE_CODE|add:'.png' %}" class="d-inline-block align-middle pb-1" alt="" loading="lazy">
                            &nbsp;{{ CURRENT_LANGUAGE_CODE|language_name_local|capfirst }}
                        </a>
                        <div class="dropdown-menu" role="menu" id="language-list" aria-labelledby="navbarDropdownMenuLink">
                            {% for language in languages %}
                                {% if language.code != CURRENT_LANGUAGE_CODE %} 
                                    {% translate_url language.code as lang_url %}
                                    <link rel="alternate" hreflang="{{ language.code }}" href="{{lang_url}}" />
                                    <a class="dropdown-item" href="{% url 'set_language' %}" data-language-code="{{ language.code }}" data-next="{{ base_url }}">
                                        <img src="{% static language.code|add:'.png' %}" class="d-inline-block align-middle pb-1" alt="" loading="lazy">
                                        &nbsp;{{ language.name_local|capfirst }}
                                    </a> 
                                {% endif %}
                            {% endfor %}
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
  <body>

<main>
    {% if News_Items %}
      {% for item in News_Items %}
    <div class="card">
        <div class="card-body">
          <h5 class="card-title"><a class="stretched-link" href="{{ item.get_absolute_url }}">{{ item.title }}</a></h5>
          <p class="card-text">{{item.text}}</p>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <p>error.</p>
    {% endif %}
</main>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="{% static 'set_language.js' %}"></script>